body{
    font-family: arial;
    margin: 0;
    font-weight: bold;
    background-image: url(isometric-rock-paper-scissors-icons-vector.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: relative;
    height: 100vh;
    backdrop-filter: blur(2.5px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: gray;
    text-shadow: 4px 2px 1px hsl(0, 0%, 10%);
    overflow: hidden;
    text-align: center;
    margin: 20px 1px;
}
.choices{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.choices button{
    font-size: 7rem;
    margin: 0 10px;
    padding: 10px;
    border-radius: 250px;
    border: none;
    background-color: hsl(0, 0%, 0%,);
    cursor: pointer;
    transition: background-color 0.5s ease;
    flex: 1 1 100px;
    max-width: 150px;

}
.choices button:nth-child(1){
    background-color: hsl(60, 100%, 50%, 0.5);
}

.choices button:nth-child(2){
    background-color: hsl(330, 100%, 71%, 0.6);
}

.choices button:nth-child(3){
    background-color: hsl(180, 100%, 50%, 0.6);
}


.choices button:hover{
    background-color: hsl(0, 0%, 50%);

}
#playerDisplay, #computerDisplay{
    font-size: 2rem;
    text-shadow: 1px 1px 5px black;
    
}
#resultDisplay{
    margin: 0 30px;
    font-size: 6rem;
    text-shadow: 1px 1px 10px;
}
.scoreDisplay{
    font-size: 2rem;
    text-shadow: 1px 1px 5px;
}
.greenText, #playerScoreDisplay{
    color: green;
}
.redText, #computerScoreDisplay{
    color: red;
}
@media (max-width: 600px){
    body{
        background-position: center;
        background-size: contain;
        background-repeat: space;
        backdrop-filter: blur(2px);
    }
   
    h1{
        font-size: 2.5rem;
        text-shadow: 3px 1px 2px hsl(0, 0%, 10%);
    }
    .choices button{
        font-size: 3rem;
        border-radius: 100%;
        max-width: 90px;
        margin-bottom: 10px;
    }
    #playerDisplay, #computerDisplay{
        font-size: 2rem;
        text-shadow: 0px 0px 5px black;
    }
    #resultDisplay{
        font-size: 4rem;
    }
    .scoreDisplay{
        font-size: 2rem;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 3.5rem;
    }
    
    .choices button {
        font-size: 5rem;
        max-width: 200px;
        border-radius: 100%;
    }

    #playerDisplay, #computerDisplay {
        font-size: 2.5rem;
    }

    #resultDisplay {
        font-size: 5rem;
    }

    .scoreDisplay {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
    
    .choices button {
        font-size: 7rem;
        max-width: 200px;
        border-radius: 100%;
    }

    #playerDisplay, #computerDisplay {
        font-size: 3rem;
    }

    #resultDisplay {
        font-size: 6rem;
    }

    .scoreDisplay {
        font-size: 3rem;
    }
}

